@if (showBoard) {
  <app-cluster-board
    [clusterResult]="clusterResult"
    [clusterCount]="clusterCount"
    (back)="onBackToUpload()"
  />
} @else {
  <div class="upload-screen">
    <app-upload
      [clusterCount]="clusterCount"
      [uploadedCount]="images.length"
      [uploading]="uploading"
      (filesAdded)="onFilesAdded($event)"
      (clusterCountChange)="onClusterCountChange($event)"
      (createBoard)="onCreateBoard()"
    />
  </div>

  @if (error) {
    <p class="error-message">{{ error }}</p>
  }
}
